force-app/main/default/flows/RC_DocGen_Get_Product_Attachments.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Product_Files_to_Collection</name>
        <label>Add Product Files to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varC_Files</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Product_Files_to_Collection.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Product_Files_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Product_To_Collection</name>
        <label>Add Product To Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varC_Products</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Quote_Products.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Quote_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Product_Versions_to_Collection</name>
        <label>Add Product Versions to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varC_DocVersions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Documents.LatestPublishedVersionId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Documents</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>No_Quote_Lines</name>
        <label>No Quote Lines</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Quote Lines</defaultConnectorLabel>
        <rules>
            <name>Quote_Lines_Des</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote_Products</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Quote_Products</targetReference>
            </connector>
            <label>Quote Lines</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>RC {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RC DocGen Get Product Attachments</label>
    <loops>
        <name>Loop_Documents</name>
        <label>Loop Documents</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Documents</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Product_Versions_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Document_Version</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Product_Files_to_Collection</name>
        <label>Loop Product Files to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>varR_ContentDocLinks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Product_Files_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Documents</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Quote_Products</name>
        <label>Loop Quote Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Quote_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Product_To_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Product_Documents</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Document_Version</name>
        <label>Get Document Version</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>varC_DocVersions</elementReference>
            </value>
        </filters>
        <object>ContentVersion</object>
        <outputReference>varR_ContentVersion</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContentSize</queriedFields>
        <queriedFields>Title</queriedFields>
        <queriedFields>FileType</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Documents</name>
        <label>Get Documents</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Documents</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>varC_Files</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocument</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Documents</name>
        <label>Get Product Documents</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Product_Files_to_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>In</operator>
            <value>
                <elementReference>varC_Products</elementReference>
            </value>
        </filters>
        <object>ContentDocumentLink</object>
        <outputReference>varR_ContentDocLinks</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LinkedEntityId</queriedFields>
        <queriedFields>ContentDocumentId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Products</name>
        <label>Get Quote Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_Quote_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varT_QuoteId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Quote_Products</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varC_DocVersions</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varC_Files</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varC_Products</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varR_ContentDocLinks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>varR_ContentVersion</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentVersion</objectType>
    </variables>
    <variables>
        <name>varT_QuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
