force-app/main/default/flows/RC_Quote_Doc_Gen_wAttachments.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_PDF_File</name>
        <label>Create PDF File</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>RC_DocumentGenerationCreate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Document_Generation_Processing</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>CurrentRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>DocTemplateId</name>
            <value>
                <elementReference>varT_DocTemplateId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>DocTitle</name>
            <value>
                <elementReference>OutputDocumentName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RC_DocumentGenerationCreate</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>varT_DocGenProcessId</assignToReference>
            <name>NewContentId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_the_PDF_Document_Id</name>
        <label>Get the PDF Document Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>RC_ReturnPDFDocument</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>File_Attachments</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>ResponseText</name>
            <value>
                <elementReference>Get_New_PDF_Content_Version_ID.ResponseText</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RC_ReturnPDFDocument</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>varT_SingleDocContentDocId</assignToReference>
            <name>ContentDocumentId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varT_SingleDocContentVersionId</assignToReference>
            <name>ContentVersionId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Merge_PDF_Documents</name>
        <label>Merge PDF Documents</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>RC_DocumentGenerationMerge</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Document_Merge_Processing</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>CurrentRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>DocTitle</name>
            <value>
                <elementReference>OutputDocumentName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordIds</name>
            <value>
                <elementReference>varT_Files2Attach</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RC_DocumentGenerationMerge</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>varT_DocGenProcessId</assignToReference>
            <name>MergedRecordId</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Quote_Doc_to_Attachment_List</name>
        <label>Add Quote Doc to Attachment List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varT_Files2Attach</assignToReference>
            <operator>AddAtStart</operator>
            <value>
                <elementReference>varT_SingleDocContentVersionId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Merge_PDF_Documents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Selected_Table_Files</name>
        <label>Add Selected Table Files</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varT_Files2Attach</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Selected_Table_Attachments.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varN_FileCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Selected_Table_Attachments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_File_Attachment_Collection</name>
        <label>Add to File Attachment Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varT_Files2Attach</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>uplFiles.contentVersionIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_PDF_File</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Attachment_Count</name>
        <label>Increment Attachment Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varN_FileCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Uploaded_Files</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>chkExitStatus</name>
        <choiceText>Exit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>exit</stringValue>
        </value>
    </choices>
    <choices>
        <name>chkRecheckStatus</name>
        <choiceText>Recheck the Document Generation Status</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>recheck</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>File_Attachments</name>
        <label>File Attachments</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Add_Quote_Doc_to_Attachment_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Attachments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varN_FileCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>View_Output_Document</targetReference>
            </connector>
            <label>No Attachments</label>
        </rules>
    </decisions>
    <decisions>
        <name>Merge_Doc_Status</name>
        <label>Merge Doc Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Merge_Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>docStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Success</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_New_Merge_PDF_Content_Version_ID</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Check_Single</name>
        <label>Status Check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Not Successful</defaultConnectorLabel>
        <rules>
            <name>Success_Single</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>docStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Success</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_New_PDF_Content_Version_ID</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>varR_ActiveTemplates</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>UsageType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Revenue_Lifecycle_Management</stringValue>
            </value>
        </filters>
        <object>DocumentTemplate</object>
        <outputAssignments>
            <assignToReference>varT_DocTemplateId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>forT_DefaultFileName</name>
        <dataType>String</dataType>
        <expression>&apos;Quote_&apos; +  {!forT_TodayDay} + &apos;-&apos; + {!forT_TodayMonth} + &apos;-&apos; +   TEXT(YEAR(TODAY()))</expression>
    </formulas>
    <formulas>
        <name>forT_TodayDay</name>
        <dataType>String</dataType>
        <expression>LPAD(TEXT(DAY(TODAY())), 2, &apos;0&apos;)</expression>
    </formulas>
    <formulas>
        <name>forT_TodayMonth</name>
        <dataType>String</dataType>
        <expression>CASE(MONTH(TODAY()), 1, &quot;Jan&quot;, 2, &quot;Feb&quot;, 3, &quot;Mar&quot;, 4, &quot;Apr&quot;, 5, &quot;May&quot;, 6, &quot;Jun&quot;, 7, &quot;Jul&quot;, 8, &quot;Aug&quot;, 9, &quot;Sep&quot;, 10, &quot;Oct&quot;, 11, &quot;Nov&quot;, 12, &quot;Dec&quot;, &quot;Inv&quot;)</expression>
    </formulas>
    <formulas>
        <name>varF_DisplayFileNames</name>
        <dataType>String</dataType>
        <expression>{!uplFiles.fileNames}</expression>
    </formulas>
    <interviewLabel>RC Quote Doc Gen wAttachments {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RC Quote Doc Gen wAttachments</label>
    <loops>
        <name>Loop_Selected_Table_Attachments</name>
        <label>Loop Selected Table Attachments</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>ProductDocumentTable.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Selected_Table_Files</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Uploaded_Files</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Uploaded_Files</name>
        <label>Loop Uploaded Files</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>uplFiles.contentVersionIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Increment_Attachment_Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_to_File_Attachment_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <description>We don&apos;t need the Proposal. The final document has it so we are just doing some housekeeping</description>
        <name>Delete_Proposal_Doc</name>
        <label>Delete Proposal Doc</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>View_Multi_Documents</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varT_SingleDocContentDocId</elementReference>
            </value>
        </filters>
        <object>ContentDocument</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Multi_Doc_Content_Id</name>
        <label>Get Multi Doc Content Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delete_Proposal_Doc</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_New_Merge_PDF_Content_Version_ID.ResponseText</elementReference>
            </value>
        </filters>
        <object>ContentVersion</object>
        <outputAssignments>
            <assignToReference>varT_MultiDocContentDocId</assignToReference>
            <field>ContentDocumentId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Merge_PDF_Content_Version_ID</name>
        <label>Get New PDF Merge Content Version ID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Multi_Doc_Content_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varT_DocGenProcessId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DocumentGenerationProcess</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_New_PDF_Content_Version_ID</name>
        <label>Get New PDF Content Version ID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_the_PDF_Document_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varT_DocGenProcessId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DocumentGenerationProcess</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Document_Generation_Processing</name>
        <label>Document Generation Processing</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Status_Check_Single</targetReference>
        </connector>
        <fields>
            <name>dspCreateProposalDocument</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Creating Proposal Document&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>docStatusMonitor</name>
            <extensionName>c:docStatusMonitor</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>processId</name>
                <value>
                    <elementReference>varT_DocGenProcessId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>docStatus</assignToReference>
                <name>status</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Document_Merge_Processing</name>
        <label>Document Merge Processing</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Merge_Doc_Status</targetReference>
        </connector>
        <fields>
            <name>dspMergingFiles</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Attaching PDF Files&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>docMergeStatusMonitor</name>
            <extensionName>c:docStatusMonitor</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>processId</name>
                <value>
                    <elementReference>varT_DocGenProcessId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>docStatus</assignToReference>
                <name>status</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Template_Selection</name>
        <label>Template Selection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Selected_Table_Attachments</targetReference>
        </connector>
        <fields>
            <name>Template_Selection_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Template_Selection_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dspGenerateDocument</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Generate Document&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>OutputDocumentName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>forT_DefaultFileName</elementReference>
            </defaultValue>
            <fieldText>Output Document Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DocumentTemplate</name>
            <choiceReferences>varR_ActiveTemplates</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Document Template</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Template_Selection_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Template_Selection_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dspFileAttacments</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;File Attachments&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Template_Selection_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dspProductDocuments</name>
            <fieldText>&lt;p&gt;Product Documents&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ProductDocumentTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ContentVersion</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Product Documents</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>varR_ProductDocuments</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;ContentVersion&quot;,&quot;fieldReferences&quot;:[&quot;Id&quot;],&quot;elementReference&quot;:&quot;varR_ProductDocuments&quot;}</complexValue>
                    <complexValueType>ComplexObjectFieldDetails</complexValueType>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Title&quot;,&quot;guid&quot;:&quot;column-f10b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Title&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Description&quot;,&quot;guid&quot;:&quot;column-98ba&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Description&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;FileType&quot;,&quot;guid&quot;:&quot;column-4a3c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;File Type&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnReferences</name>
                <value>
                    <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;ContentVersion&quot;,&quot;fieldReferences&quot;:[&quot;Title&quot;,&quot;Description&quot;,&quot;FileType&quot;],&quot;elementReference&quot;:&quot;varR_ProductDocuments&quot;}</complexValue>
                    <complexValueType>ComplexObjectFieldDetails</complexValueType>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>uplFiles</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Additional Files</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.pdf</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentVersionIds</name>
                <value>
                    <elementReference>varT_FilesUploaded</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Upload additional files to append to the document</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dspUploadedFileNames</name>
            <fieldText>&lt;p&gt;{!varF_DisplayFileNames}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>View_Multi_Documents</name>
        <label>View Multi Documents</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>multiFilePreview</name>
            <extensionName>mulesoft_idp:configEditorPreviewPlayer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fileId</name>
                <value>
                    <elementReference>varT_MultiDocContentDocId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>View_Output_Document</name>
        <label>View Output Document</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>singleFilePreview</name>
            <extensionName>mulesoft_idp:configEditorPreviewPlayer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fileId</name>
                <value>
                    <elementReference>varT_SingleDocContentDocId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Product_Attachments</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Product_Attachments</name>
        <label>Get Product Attachments</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Template_Selection</targetReference>
        </connector>
        <flowName>RC_DocGen_Get_Product_Attachments</flowName>
        <inputAssignments>
            <name>varT_QuoteId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varR_ProductDocuments</assignToReference>
            <name>varR_ContentVersion</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>docStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0Q0Kj000003PazgKAC</stringValue>
        </value>
    </variables>
    <variables>
        <name>varN_FileCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varR_ProductDocuments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentVersion</objectType>
    </variables>
    <variables>
        <name>varT_DocGenProcessId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_DocTemplateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_Files2Attach</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_FilesUploaded</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_MultiDocContentDocId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_SingleDocContentDocId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_SingleDocContentVersionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
